.header{
    background-color: blueviolet;
    min-height: 200px;
}

.my-4{
    max-width: 50px;
    height: 1.5px;
    background-color:#954975;
}

.navbar-custom .navbar-nav .nav-link{
  color: #5482ab;
  font-size: 1.2rem;
}

.custom-toggler.navbar-toggler {
    border-color: #5482ab;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(84,130,171)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link{
    color: #954975;
}


.service-1d, .service-6m, #call-to-action{
    color:#fff;
}

section{
    padding: 2.5rem 0;
}

.breadcrumb{
    background:none;
}

.breadcrumb a{
    color:#5482ab;
}

#call-to-action{
    background-color: #954975;
}


h2{
    margin-bottom: 1.5rem !important;
}

.btn{
    padding: 1rem 2rem;
}

.fa{
    margin-right: 10px;
    font-size: 3 rem;
}

.service-1d{
    background-color: #5482ab;
}

.service-6m{
    background-color: #954975;
}

.card-img{
    border-radius:0px;
    max-height: 200px; 
}

.card{
    margin-bottom: 20px;
}